[Unit]
Description=Gunicorn instance to serve practiscore-leaderboard
After=network.target

[Service]
User=kiosk
Group=kiosk
WorkingDirectory=/home/kiosk/practiscore-leaderboard
Environment="PATH=/home/kiosk/practiscore-leaderboard/.venv/bin"
ExecStart=/home/kiosk/practiscore-leaderboard/practiscore-leaderboard.py

[Install]
WantedBy=multi-user.target
