{%- extends 'base.html' -%}
{%- import 'ipsc.html' as ipsc -%}
{%- import 'silhouette.html' as silhouette -%}
{%- import 'scsa.html' as scsa -%}
{%- import 'sass.html' as sass -%}

{%- block content -%}
{%- for match in data.matches -%}
<a href="/match/{{ match.id }}">{{ match.name }}</a>
{%- if match['sub_type'] == 'ipsc' -%}
{{ ipsc.match(match) }}
{%- elif match['sub_type'] == 'silhouette' -%}
{{ silhouette.match(match) }}
{%- elif match['sub_type'] == 'scsa' -%}
{{ scsa.match(match) }}
{%- elif match['sub_type'] == 'sass' -%}
{{ sass.match(match) }}
{%- endif -%}
{%- endfor -%}
{%- endblock -%}