<!DOCTYPE html>
<html lang="en">
<head>
<title>practiscore-leaderboard-{{version}}</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="shortcut icon" href="/static/favicon.ico">
<meta http-equiv="refresh" content="30">
</head>
<body>
{{ time }}
<br>
{% set match = data['match'] %}
<a href="/">Index</a> {{ match['match_name'] }}
<table class="ipsc">
<tr>
<th>#</th>
<th>Name</th>
<th>Div.</th>
<th>Match Pts</th>
{% for stage in match.stages %}
<th><a href="/match/{{ match['match_id'] }}/stage/{{ stage.stage_id }}">Stage {{ stage.stage_number }}</a><br><span class="max_score">Max Points {{ stage.max_points }}</span></th>
{% endfor %}
{% for division_name, division in match.divisions|dictsort %}
</tr>
{% for shooter in division %}
{% if loop.first %}
<tr class="hr">
{% else %}
<tr>
{% endif %}
<td class="place">{{ loop.index }}</td>
<td>{{ shooter.name }}</td>
<td class="division">{{ shooter.short_division }}</td>
<td class="match_points">{{ shooter.match_points_total_string }}</td>
{% for stage in match.stages %}
<td class="match_points">{{ shooter.match_points_string[stage['stage_id']] }}</th>
{% endfor %}
</tr>
{% endfor %}
{% endfor %}
</table>
</body></html>