<!DOCTYPE html>
<html lang="en">
<head>
<title>practiscore-leaderboard-{{version}}</title>
<link rel="stylesheet" href="/static/style.css">
</head>
<body>
{% set match = data['match'] %}
<a href="/">Back</a> {{ match['match_name'] }}
<table class="ipsc">
<tr>
<th>#</th>
<th>Name</th>
<th>Div.</th>
<th>Total</th>
{% for stage in match.stages %}
<th><a href="/match/{{ match['match_id'] }}/stage/{{ stage.stage_id }}">Stage {{ stage.stage_number }}</a><br><span class="max_score">Max Points {{ stage.max_points }}</span></th>
{% endfor %}
{% for division_name, division in match.divisions|dictsort %}
</tr>
{% for shooter in division %}
<tr>
<td>1</td>
<td>{{ shooter.name }}</td>
<td class="division">{{ shooter.short_division }}</td>
<td class="match_points">{{ shooter.match_points_total_text }}</td>
{% for stage in match.stages %}
<td class="match_points">{{ shooter.match_points_text[stage['stage_id']] }}</th>
{% endfor %}
</tr>
{% endfor %}
{% endfor %}
</table>

{% for device in data.devices %}
<br><span class="device-status">{{ device }}</span>
{% endfor %}
</body></html>