{%- macro match(match) -%}
<table class="sass">
<tr>
<th>#</th>
<th>Name</th>
<th>Div.</th>
<th>Time</th>
{%- for stage in match.stages -%}
<th><a href="/match/{{ match.id }}/stage/{{ stage.id }}">{{ stage.short_name }}</a></th>
{%- endfor -%}
{%- for division_name, division in match.divisions|dictsort -%}
</tr>
{%- for shooter in division|sort(attribute='time') -%}
{%- if loop.first -%}
<tr class="hr">
{%- else -%}
<tr>
{%- endif -%}
<td class="place">{{ loop.index }}</td>
<td>{{ shooter.name }}</td>
<td class="division">{{ shooter.short_division }}</td>
<td class="time">{{ shooter.time_string }}</td>
{%- for stage in match.stages -%}
<td class="time">{{ shooter.scores_string[stage.id] }}</th>
{%- endfor -%}
</tr>
{%- endfor -%}
{%- endfor -%}
</table>
<br>
{%- endmacro -%}

{%- macro stage(match, stage) -%}
{%- set stage_id = stage.id %}
<a href="/">Index</a> <a href="/match/{{ match.id }}">{{ match.name }}</a> Stage {{ stage.name }}
<table class="sass">
<tr>
<th>#</th>
<th>Name</th>
<th>Div.</th>
<th>Raw</th>
<th>Miss</th>
<th>Penalties</th>
<th>Total</th>
</tr>
{%- for division_name, division in match.divisions|dictsort -%}
{%- for shooter in division|sort(attribute='time') -%}
{%- if loop.first -%}
<tr class="hr">
{%- else -%}
<tr>
{%- endif -%}
<td class="place">{{ loop.index }}</td>
<td>{{ shooter.name }}</td>
<td class="division">{{ shooter.short_division }}</td>
<td>{{ shooter.string_string[stage.id] }}</td>
<td>{{ shooter.miss_string[stage.id] }}</td>
<td>{{ shooter.penalties_string[stage.id] }}</td>
<td>{{ shooter.scores_string[stage.id] }}</td>
</tr>
{%- endfor -%}
{%- endfor -%}
</table>
{%- endmacro -%}
