{%- extends 'base.html' -%}
{%- import 'ipsc.html' as ipsc -%}
{%- import 'silhouette.html' as silhouette -%}
{%- import 'scsa.html' as scsa -%}
{%- import 'sass.html' as sass -%}

{%- block content -%}
{%- set match = data.match -%}
{%- set stage = data.stage -%}
{%- if match['sub_type'] == 'ipsc' -%}
{{ ipsc.stage(match, stage) }}
{%- elif match['sub_type'] == 'silhouette' -%}
{{ silhouette.stage(match, stage) }}
{%- elif match['sub_type'] == 'scsa' -%}
{{ scsa.stage(match, stage) }}
{%- elif match['sub_type'] == 'sass' -%}
{{ sass.stage(match, stage) }}
{%- endif -%}
{%- endblock -%}